#.gitignore files

#json files
package-lock.json
tokens.json

#data
xp.json
money.json
emote.png
emote.gif
json.sqlite
warnings.json

#stuff...
node_modules
.vs

#help
moderation.txt
utils.txt
math.txt
info.txt
fun.txt
economy.txt